<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RepoFinder.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>634060712B4F6E64003DCE8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6340608A2B4F6E67003DCE8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>634060942B4F6E67003DCE8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
